<!-- View Content -->
<!-- About the Developer and the Project -->
<!-- Sobre o Desenvolvedor e o Projeto -->

<section class="container-fluid">
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-md-left text-lg-left">
			<div class="card container-fluid" style="background-color: rgba(0,0,0,.85);color: #ddd;padding-bottom: 20px;">
				<div class="card-block">
					<h2>
						<a href="http://renanlopes.com"><img class="img-responsive" src="img/logo-renanlopes.png"></a>
					</h2>
					<h4>Full Stack Web Developer</h4>
					<h6><strong>Database:</strong> MongoDB / MySQL</h6>
					<h6><strong>Back-End:</strong> NodeJS / PHP / Java</h6>
					<h6><strong>Front-End:</strong> AngularJS / Bootstrap / Material Design</h6>
					<p><strong>E-mail:</strong> renanlopescoder@gmail.com<br>
						<strong>Website:</strong><a href="http://renanlopes.com"> renanlopes.com</a></p>
					<div class="text-center col-xs-12 col-sm-12  col-md-12 col-lg-12">
						<a href="https://github.com/renanlopescoder" target="_blank"><img class="coder-icon wow bounceInDown" data-wow-duration="2s" src="img/logotypes/github.png"></a>
						<a href="https://plus.google.com/117472796522557819956" target="_blank"><img class="coder-icon wow bounceInDown" data-wow-duration="2.25s" src="img/logotypes/google-plus.png"></a>
						<a href="http://renanslopes8.com.br" target="_blank"><img class="coder-icon wow bounceInDown" data-wow-duration="2.50s" src="img/logotypes/wordpress.png"></a>
						<a href="https://www.linkedin.com/in/renan-lopes-9a0390101" target="_blank"><img class="coder-icon wow bounceInDown" data-wow-duration="2.75s" src="img/logotypes/linkedin.png"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-md-left text-lg-left">
			<div class="card container-fluid">
				<div class="card-block">
					<h2>Project</h2>
            <h4>Open Task Manager is a responsive open source code developed in JavaScript using M.E.A.N (MongoDB, Express, AngularJS and NodeJS) and User Interface Design using Material Kit and Material Design for Bootstrap (MDB) 4.2.0.</a></h4>
				</div>
				<div class="row">
					<br>
				</div>
			</div>
		</div>
	</div>
</section>