	<link rel="stylesheet" href="css/login.css">
	<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
  <div class="login-wrap">
	<div class="login-html">
		<h1 class="title">Open Task Manager</h1>
		<br>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="userLa">Username</label>
					<input id="userLa" type="text" class="input" ng-model="user.username">
				</div>
				<div class="group">
					<label for="pass">Password</label>
					<input id="pass" type="password" class="input" data-type="password" ng-model="user.password">
				</div>
				<div class="group">
					<input ng-click="login(user)" type="button" class="button" value="Sign In">
				</div>
				<label class="container">
					<a href="http://renanlopes.com">
						© 2017 Copyright: Renan Lopes
					</a>
				</label>
			</div>
			<div class="sign-up-htm">
					<div class="group">
						<label for="user">Username</label>
						<input id="user" type="text" class="input" ng-model="newUser.username">
					</div>
					<div class="group">
						<label for="pass">Password</label>
						<input id="pass" type="password" class="input" data-type="password" ng-model="newUser.password">
					</div>
					<!--<div class="group">
						<label for="pass">Repeat Password</label>
						<input id="pass" type="password" class="input" data-type="password" ng-model="user.password2">
					</div>-->
					<div class="group">
						<label for="pass">Email Address</label>
						<input id="pass" type="email" class="input" ng-model="newUser.email">
					</div>
					<div class="group">
						<input type="button" ng-click="createUser(newUser)" class="button" value="Sign Up">
					</div>
					<label class="container">
						<a href="http://renanlopes.com">
							© 2017 Copyright: Renan Lopes
						</a>
					</label>
			</div>
		</div>
	</div>
</div>
