<!-- View Content -->
<!-- Lista de tarefas feitas -->
<!-- List of tasks done -->

<section ng-controller="TaskController" class="container-fluid">
  <hr>
  <div class="row padding-top">
    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-6">
      <div class="md-form input-group search-input">
        <span class="input-group-addon">
          <i class="material-icons text-white">search</i>
        </span>
        <input id="search" ng-model="search" class="form-control text-white" type="text" name="search" autocomplete="off" placeholder="Search">
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="task in tasks |  filter:search | orderBy: 'updatedStatusDate'" ng-if="task.progress == 'done'">
      <div class="row hidden-sm hidden-md hidden-lg">
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card hoverable container-fluid ox-card-list card-complete">
          <div class="card-block">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
              <label class="label label-info">Date: {{task.taskDate}}</label>
            </div>
            <label ng-show="task.active == 'true'"><br>Titulo</label>
            <h4 class="card-title" ng-hide="task.active == 'true'" ng-if="task.open == 'false' && task.title.length > 25|| (task.title.length > 25 && task.open == null)">{{task.title.slice(0,25)}} ...</h4>
            <h4 class="card-title" ng-hide="task.active == 'true'" ng-if="task.open == 'false' && task.title.length < 25 ||task.open == 'true' || (task.title.length < 25 && task.open == null)">{{task.title}}</h4>
            <div class="animate-show md-form" ng-show="task.active == 'true'">
              <input id="taskDescriptionUpdate" type="text" name="titleUpdate" ng-model="saveTask.title" value="{{task.title}}">
            </div>
            <p ng-hide="task.active == 'true'" ng-if="task.open == 'false' && task.description.length > 30 || (task.description.length > 30 && task.open == null)">
              {{task.description.slice(0,30)}} ...
            </p>
            <p ng-hide="task.active == 'true'" ng-if="task.open == 'false' && task.description.length < 30 || task.open == 'true' || (task.description.length < 30 && task.open == null)">
              {{task.description}}
            </p>
            <label class="input-group" ng-show="task.active == 'true'">Descrição</label>
            <div class="animate-show md-form" ng-show="task.active == 'true'">
              <textarea id="taskDescriptionUpdate" class="md-textarea" type="text" name="descriptionUpdate" ng-model="saveTask.description">{{task.description}}</textarea>
            </div>
            <button class="btn btn-danger btn-just-icon" ng-click="removeTask(task)">
              <i class="material-icons">delete</i>
            </button>

            <button ng-show="task.active == 'true'" ng-click="taskActive(task,'false')" class="btn btn-warning btn-just-icon"><i class="material-icons">not_interested</i></button>

            <button ng-show="task.active == 'true'" ng-click="saveTask(task)" class="btn btn-primary btn-just-icon"><i class="material-icons">save</i></button>

            <button ng-click="taskProgress(task,'progress')" class="btn btn-warning btn-just-icon">
              <i class="material-icons">settings_backup_restore</i>
            </button>
            <button title="Visibility" ng-show="task.active == 'false' && (task.open == 'false' || task.open == null)" ng-click="task.open='true'" class="btn btn-info btn-just-icon">
              <i class="material-icons">visibility</i>
            </button>
            <button title="Visibility Off" ng-show="task.active == 'false' && task.open == 'true'" ng-click="task.open='false'" class="btn btn-info btn-just-icon">
              <i class="material-icons">visibility_off</i>
            </button>
            <br>
            <label class="text-right">{{task.updatedStatusDate}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>